{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
<head>
    <title>Freshcery | Groceries Organic Store</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'css.html' %}
</head>

<style>
   a{
       color: white;
   }
 
</style>
<body>
    {% include 'nav.html' %}
    <div id="page-content" class="page-content">
        <div class="banner">
            <div class="jumbotron jumbotron-bg text-center rounded-0" style="background-image: url('../static/img/bg-header.jpeg');">
                <div class="container">
                    <h1 class="pt-5">
                        The Meat Product Title
                    </h1>
                    <p class="lead">
                        Save time and leave the groceries to us.
                    </p>
                </div>
            </div>
        </div>
        <div class="product-detail">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="slider-zoom">
                            <!-- <a href="assets/img/meats.jpg" class="cloud-zoom" rel="transparentImage: 'data:image/gif;base64,R0lGODlhAQABAID/AMDAwAAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==', useWrapper: false, showTitle: false, zoomWidth:'500', zoomHeight:'500', adjustY:0, adjustX:10" id="cloudZoom"> -->
                                <img alt="Detail Zoom thumbs image" src="{% static '../static/img/book/bk1.jpg' %}" style="width: 100%;">
                            <!-- </a> -->
                        </div>

                        <div class="slider-thumbnail">
                            <ul class="d-flex flex-wrap p-0 list-unstyled">
                                <li>
                                    <a href="{% static '../static/img/book/bk2.jpg' %}" target="_blank" rel="gallerySwitchOnMouseOver: true, popupWin:'{% static '../static/img/book/bk2.jpg' %}', useZoom: 'cloudZoom', smallImage: '{% static '../static/img/book/bk2.jpg' %}'" class="cloud-zoom-gallery">
                                        <img itemprop="image" src="{% static '../static/img/book/bk2.jpg' %}" style="width:135px;">
                                    </a>
                                </li>
                                <li>
                                    <a href="{% static '../static/img/book/bk3.jpg' %}" target="_blank" rel="gallerySwitchOnMouseOver: true, popupWin:'{% static '../static/img/book/bk3.jpg' %}', useZoom: 'cloudZoom', smallImage: '{% static '../static/img/book/bk3.jpg' %}'" class="cloud-zoom-gallery">
                                        <img itemprop="image" src="{% static '../static/img/book/bk3.jpg' %}" style="width:135px;">
                                    </a>
                                </li>
                                <li>
                                    <a href="{% static '../static/img/book/bk4.jpg' %}"target="_blank"  rel="gallerySwitchOnMouseOver: true, popupWin:'{% static '../static/img/book/bk4.jpg' %}', useZoom: 'cloudZoom', smallImage: '{% static '../static/img/book/bk4.jpg' %}'" class="cloud-zoom-gallery">
                                        <img itemprop="image" src="{% static '../static/img/book/bk4.jpg' %}" style="width:135px;">
                                    </a>
                                </li>
                                <li>
                                    <a href="{% static '../static/img/book/bk5.jpg' %}" target="_blank" rel="gallerySwitchOnMouseOver: true, popupWin:'{% static '../static/img/book/bk5.jpg' %}', useZoom: 'cloudZoom', smallImage: '{% static '../static/img/book/bk5.jpg' %}'" class="cloud-zoom-gallery">
                                        <img itemprop="image" src="{% static '../static/img/book/bk5.jpg' %}" style="width:135px;">
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                    <div class="col-sm-6">
                        <p>
                            <h5><strong>Overview</strong><br></h5>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </p>
                        <div class="row">
                            <div class="col-sm-6">
                                <p>
                                    <strong>Total Price</strong><br>
                                    <span class="price">Rp 100.000</span>
                                    <span class="old-price">Rp 150.000</span>
                                </p>
                            </div>
                           


                            <!-- <div class="col-sm-6 text-right">
                                <p>
                                    <span class="stock available">In Stock: 99</span>
                                </p>
                            </div> -->
                        </div>
                        <div class="row">
                        <div class="col-sm-6">
                            <p>
                                <strong>Name of Seller </strong><br>
                                <span class="name">Bhanduas Rane</span>
                               
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p>
                                <strong>Branch Name  </strong><br>
                                <span class="name"> Information Technology</span>
                               
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p>
                                <strong> Year   </strong><br>
                                <span class="name"> BE </span>
                               
                            </p>
                        </div>
                        </div>
                        <!-- <p class="mb-1">
                            <strong>Quantity</strong>
                        </p> -->
                        <!-- <div class="row">
                            <div class="col-sm-5">
                                <input class="vertical-spin" type="text" data-bts-button-down-class="btn btn-primary" data-bts-button-up-class="btn btn-primary" value="" name="vertical-spin">
                            </div>
                            <div class="col-sm-6"><span class="pt-1 d-inline-block">Pack (250 gram)</span></div>
                        </div> -->
                    
                        <button class="mt-3 btn btn-primary btn-lg">
                           
                            <a href="{% url 'detail-product_url' %}">
                                 <i class="fas fa-info-circle"></i> Make An Inquiry 
                                </a>

                                </button>
                        <button class="mt-3 btn btn-primary btn-lg">
                            <a href="{% url 'checkout_url' %}">
                            <i class="fas fa-rupee-sign"></i> Detail Pricing 
                        </a> 
                        </button>
                    </div>
                </div>
            </div>
        </div>



<center>
        <div class="co" id="inquiry">
            <h3>Inquiry Form</h3>
            <form method="POST" action="" id="Dog">
              {% csrf_token %}
              <input type="hidden" class="comman" name="owner_mail" value="{{product.email}}"><br>
         <!-- <div class="form-group">
           <label for="name">Name</label>
           <input type="text" class="form-control" class="comman" id="name" name="name" placeholder="Enter Your Name">
         </div>
         <div class="form-group">
           <label for="name">Email</label>
           <input type="email" class="form-control" class="comman" id="email" name="email" placeholder="Enter Your Email">
         </div>
        <div class="form-group">
           <label for="name">Phone</label>
           <input type="tel" class="form-control" id="phone" class="comman" name="phone" placeholder="Enter Your Phone Number">
         </div>
        <div class="form-group">
          <div class="form-group">
           <label for="desc">How May We Help You ?</label>
           <textarea class="form-control" id="message" class="comman" name="message" rows="3"></textarea>
         </div>
       
         <button type="submit" style="margin-left: 294px;" class="btn btn-success">Submit</button>
       </div> -->
     
       {{form.media}}
       {{form.as_p}}
        <button type="submit" class="btn btn-success">Submit</button>
    
    
    
    </form>
       


        <section id="related-product">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="title">Related Products</h2>
                        <div class="product-carousel owl-carousel">
                            <div class="item">
                                <div class="card card-product">
                                    <div class="card-ribbon">
                                        <div class="card-ribbon-container right">
                                            <span class="ribbon ribbon-primary">SPECIAL</span>
                                        </div>
                                    </div>
                                    <div class="card-badge">
                                        <div class="card-badge-container left">
                                            <span class="badge badge-default">
                                                Until 2018
                                            </span>
                                            <span class="badge badge-primary">
                                                20% OFF
                                            </span>
                                        </div>
                                        <img src="{% static '../static/img/book/bk6.jpg' %}" alt="Card image 2" class="card-img-top">
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <a href="/detail-product">Product Title</a>
                                        </h4>
                                        <div class="card-price">
                                            <span class="discount">Rp. 300.000</span>
                                            <span class="reguler">Rp. 200.000</span>
                                        </div>
                                        <a href="/detail-product" class="btn btn-block btn-primary">
                                            Quick View
                                        </a>

                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="card card-product">
                                    <div class="card-ribbon">
                                        <div class="card-ribbon-container right">
                                            <span class="ribbon ribbon-primary">SPECIAL</span>
                                        </div>
                                    </div>
                                    <div class="card-badge">
                                        <div class="card-badge-container left">
                                            <span class="badge badge-default">
                                                Until 2018
                                            </span>
                                            <span class="badge badge-primary">
                                                20% OFF
                                            </span>
                                        </div>
                                        <img src="{% static '../static/img/book/bk7.jpg' %}" alt="Card image 2" class="card-img-top">
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <a href="/detail-product">Product Title</a>
                                        </h4>
                                        <div class="card-price">
                                            <span class="discount">Rp. 300.000</span>
                                            <span class="reguler">Rp. 200.000</span>
                                        </div>
                                        <a href="/detail-product" class="btn btn-block btn-primary">
                                            Quick View
                                        </a>

                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="card card-product">
                                    <div class="card-ribbon">
                                        <div class="card-ribbon-container right">
                                            <span class="ribbon ribbon-primary">SPECIAL</span>
                                        </div>
                                    </div>
                                    <div class="card-badge">
                                        <div class="card-badge-container left">
                                            <span class="badge badge-default">
                                                Until 2018
                                            </span>
                                            <span class="badge badge-primary">
                                                20% OFF
                                            </span>
                                        </div>
                                        <img src="{% static '../static/img/book/bk8.jpg' %}" alt="Card image 2" class="card-img-top">
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <a href="/detail-product">Product Title</a>
                                        </h4>
                                        <div class="card-price">
                                            <span class="discount">Rp. 300.000</span>
                                            <span class="reguler">Rp. 200.000</span>
                                        </div>
                                        <a href="/detail-product" class="btn btn-block btn-primary">
                                            Quick View
                                        </a>

                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="card card-product">
                                    <div class="card-ribbon">
                                        <div class="card-ribbon-container right">
                                            <span class="ribbon ribbon-primary">SPECIAL</span>
                                        </div>
                                    </div>
                                    <div class="card-badge">
                                        <div class="card-badge-container left">
                                            <span class="badge badge-default">
                                                Until 2018
                                            </span>
                                            <span class="badge badge-primary">
                                                20% OFF
                                            </span>
                                        </div>
                                        <img src="{% static '../static/img/book/bk9.jpg' %}" alt="Card image 2" class="card-img-top">
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <a href="/detail-product">Product Title</a>
                                        </h4>
                                        <div class="card-price">
                                            <span class="discount">Rp. 300.000</span>
                                            <span class="reguler">Rp. 200.000</span>
                                        </div>
                                        <a href="/detail-product" class="btn btn-block btn-primary">
                                            Quick View
                                        </a>

                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="card card-product">
                                    <div class="card-ribbon">
                                        <div class="card-ribbon-container right">
                                            <span class="ribbon ribbon-primary">SPECIAL</span>
                                        </div>
                                    </div>
                                    <div class="card-badge">
                                        <div class="card-badge-container left">
                                            <span class="badge badge-default">
                                                Until 2018
                                            </span>
                                            <span class="badge badge-primary">
                                                20% OFF
                                            </span>
                                        </div>
                                        <img src="{% static '../static/img/book/bk10.jpg' %}" alt="Card image 2" class="card-img-top">
                                    </div>
                                    <div class="card-body">
                                        <h4 class="card-title">
                                            <a href="/detail-product">Product Title</a>
                                        </h4>
                                        <div class="card-price">
                                            <span class="discount">Rp. 300.000</span>
                                            <span class="reguler">Rp. 200.000</span>
                                        </div>
                                        <a href="/detail-product" class="btn btn-block btn-primary">
                                            Quick View
                                        </a>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</center>
    {% include 'footer.html' %}

    {% include 'js.html' %}
</body>
</html>
