{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html>
<head>
    <title>Freshcery | Groceries Organic Store</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include 'css.html' %}
</head>
<body>
    {% include 'nav.html' %}
    <div id="page-content" class="page-content">
        <div class="banner">
            <div class="jumbotron jumbotron-bg text-center rounded-0" style="background-image: url('../static/img/bg-header.jpeg');">
                <div class="container">
                    <h1 class="pt-5">
                        Your Transactions
                    </h1>
                    <p class="lead">
                        Save time and leave the groceries to us.
                    </p>
                </div>
            </div>
        </div>

        <section id="cart">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th width="5%"></th>
                                        <th>ID</th>
                                        <th>SELLER NAME</th>
                                        <th>Total</th>
                                        <th>Status</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>
                                            AL121N8H2XQB47
                                        </td>
                                        <td>
                                            12-12-2017
                                        </td>
                                        <td>
                                            Rp 200.000
                                        </td>
                                        <td>
                                            Not Accepted 
                                        </td>
                                        <td>
                                            <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#detailModal">
                                                Detail
                                            </button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <nav aria-label="Page navigation">
                            <ul class="pagination justify-content-center">
                                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item"><a class="page-link" href="#">Next</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </section>

        <!-- Modal -->
        <div class="modal fade" id="detailModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">No. Pesanan : AL121N8H2XQB47</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-6">
                                <p>
                                    <strong>Billing Detail:</strong><br>
                                    Teguh Rianto<br>
                                    Jl. Petani No. 159, Cibabat<br>
                                    Cimahi Utara<br>
                                    Kota Cimahi<br>
                                    Jawa Barat 40513
                                </p>
                            </div>
                            <div class="col-md-6">
                                <p>
                                    <strong>Payment Method:</strong><br>
                                    Direct Transfer to<br>
                                    Bank: BCA<br>
                                    No Rek.: 72133236179
                                </p>
                                <p>
                                    <strong>Batas Pembayaran</strong><br>
                                    14-12-2017 17:55 GMT+7
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <p>
                                    <strong>Your Order:</strong>
                                </p>
                                <div class="table-responsive">
                                    <table class="table table-bordered table-striped table-hover">
                                        <thead class="thead-dark">
                                          <tr>
                                            <th>ID</th>
                                            <th>Name</th>
                                            <th>Type of book</th>
                                            <th>price</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          {% if product.image_a %}
                                          <tr>
                                            <td>
                    
                                              1
                    
                                            </td>
                                            <td>
                    
                                              {{product.book_name_a}}
                    
                                            </td>
                                            <td>
                    
                                              {{product.book_type_a}}
                    
                                            </td>
                                            <td>
                    
                                              {{product.price_a}}
                    
                                            </td>
                    
                    
                                          </tr>
                                          {% endif %}
                                          {% if product.image_b %}
                                          <tr>
                                            <td>
                    
                                              2
                    
                                            </td>
                                            <td>
                    
                                              {{product.book_name_b}}
                    
                                            </td>
                                            <td>
                    
                                              {{product.book_type_b}}
                    
                                            </td>
                                            <td>
                    
                                              {{product.price_b}}
                    
                                            </td>
                    
                    
                                          </tr>
                                          {% endif %}
                                          {% if product.image_c %}
                                          <tr>
                                            <td>
                    
                                              3
                    
                                            </td>
                                            <td>
                    
                                              {{product.book_name_c}}
                    
                                            </td>
                                            <td>
                                              {{product.book_type_c}}
                    
                                            </td>
                                            <td>
                    
                                              {{product.price_c}}
                    
                                            </td>
                                          </tr>
                                          {% endif %}
                                          {% if product.image_d %}
                                          <tr>
                                            <td>
                    
                                              4
                    
                                            </td>
                                            <td>
                    
                                              {{product.book_name_d}}
                    
                                            </td>
                                            <td>
                    
                                              {{product.book_type_d}}
                    
                                            </td>
                                            <td>
                    
                                              {{product.price_d}}
                    
                                            </td>
                                          </tr>
                                          {% endif %}
                                          {% if product.image_e %}
                                          <tr>
                                            <td>
                    
                                              5
                    
                                            </td>
                                            <td>
                    
                                              {{product.book_name_e}}
                    
                                            </td>
                                            <td>
                                              {{product.book_type_e}}
                    
                                            </td>
                                            <td>
                    
                                              {{product.price_e}}
                    
                                            </td>
                                          </tr>
                                          {% endif %}
                                          <tr>
                                            {% if product.image_f %}
                                          <tr>
                                            <td>
                    
                                              6
                    
                                            </td>
                                            <td>
                    
                                              {{product.book_name_f}}
                    
                                            </td>
                                            <td>
                    
                                              {{product.book_type_f}}
                    
                                            </td>
                                            <td>
                    
                                              {{product.price_f}}
                    
                                            </td>
                    
                    
                                          </tr>
                                          {% endif %}
                    
                                          </tr>
    
                                        </tbody>
                                        <!-- <tfooter>
                                            
                                            <tr>
                                                <td>
                                                    <strong>ORDER TOTAL</strong>
                                                </td>
                                                <td class="text-right">
                                                    <strong>Rp 200.000</strong>
                                                </td>
                                            </tr>
                                        </tfooter> -->
                                      </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'footer.html' %}
    {% include 'js.html' %}
</body>
</html>
